body {
    background-color: aquamarine;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

#image {
    height: 4em;
    width: 4em;
    display: block;
    padding: 5px;
}

.fonts {
    color: blue;
    size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

